body {
    font-family: 'LeagueGothic', Helvetica, Verdana, Arial, sans-serif;
    background-color: #000;
    color: #ccc;
}

.page-title {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro opaco con 80% de opacidad */
    color: #0f0 !important; /* Texto verde */
    padding: 10px; /* Espaciado interno */
    font-size: 1.5em; /* Tamaño de fuente ajustado */
}

.menu-title {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro opaco con 80% de opacidad */
    color: #0f0; /* Texto verde */
    padding: 10px; /* Espaciado interno */
    font-size: 1.5em; /* Tamaño de fuente ajustado */
    font-family: monospace;
}


.header {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro opaco con 80% de opacidad */
    color: #0f0; /* Texto verde */
     /*padding: 10px;  Espaciado interno */
    font-size: 1.5em; /* Tamaño de fuente ajustado */
    font-family: monospace;
}

.chapter-item {
    color: #0f0; /* Color verde para los items del capítulo */
    font-family: monospace;
}

.chapter-item a {
    color: #0f0 !important; /* Color verde para los enlaces dentro de los items del capítulo */
}

.chapter-item.expanded {
    color: #0f0; /* Color azul para los items del capítulo expandido */
    
}

.chapter-item.expanded a {
    color: #0f0 !important; /* Color azul para los enlaces dentro de los items del capítulo expandido */
}

.console-container {
    border: 1px solid #0f0;
    padding: 10px;
    height: 400px;
    width: 100%;
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    overflow: hidden; /* Oculta los desbordamientos para mantener el terminal dentro del contenedor */
}

.xterm {
    height: 100%;
    width: 100%;
}

.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: #000;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #0f0;
    border-radius: 10px;
    border: 2px solid #000;
}



.console-output {
    white-space: pre-wrap; /* Para mantener el formato de los espacios y líneas */
}

.console-input-container {
    display: flex;
    align-items: center;
}

.console-input {
    border: none;
    background: none;
    color: #0f0;
    outline: none;
    font-family: monospace;
    flex-grow: 1; /* Para que tome todo el espacio disponible */
}

.prompt {
    margin-right: 5px;
}

.hljs {
    background: #000 !important;
    color: #0f0 !important;
    font-family: monospace !important;
}
.hljs-meta {
    color: #ff6347; /* Color del prompt */
}

.bash {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
}

.bash-block {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    padding: 10px;
    border-radius: 4px;
    display: block;
    white-space: pre-wrap; /* Mantiene el formato de los saltos de línea */
}

code {
    font-family: var(--mono-font) !important;
    font-size: var(--code-font-size);
    direction: ltr !important;
}



/* Estilo para el contenedor de la tabla */
.table-wrapper {
    overflow-x: auto;
    margin: 20px 0;
}

/* Estilo para la tabla */
.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
     /* Fondo oscuro para la tabla */
}

.table-wrapper th,
.table-wrapper td {
    border: 1px solid #0f0; /* Borde verde */
    padding: 10px;
    text-align: left;
}

.table-wrapper th {
    background-color: #222; /* Fondo más claro para el encabezado */
    color: #0f0; /* Texto verde */
}

.table-wrapper td {
    color: #0f0; /* Texto verde */
}

.table-wrapper code.hljs {
    color: #0f0; /* Texto verde */
    background-color: transparent; /* Fondo transparente para el código */
}


/*************************************/
#network1, #network2 {
    position: relative;
    margin-bottom: 50px; /* Separar las dos redes para claridad */
}

#networkCanvas1, #networkCanvas2 {
    border: 1px solid #000;
    background-color: #ffffff;
}

.controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#playPauseButton1, #playPauseButton2 {
    font-size: 24px;
    margin-right: 10px;
}

#progressBar1, #progressBar2 {
    width: 100%;
}

.packet {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: #800080;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    display: none; /* Start hidden */
    z-index: 10;
}

.trunk-info {
    position: absolute;
    background-color: #FFA500;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    top: 220px;
    left: 250px;
    font-size: 12px;
}


/**********************/
.tab {
    overflow: hidden;
    border: 1px solid #0f0;
    background-color: #1d1f21; /* Fondo similar al del libro */
    margin-bottom: 20px; /* Espacio entre el contenido y las pestañas */
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px; /* Ajuste del relleno */
    transition: 0.3s;
    font-size: 14px; /* Tamaño de la fuente reducido */
    color: #c5c8c6; /* Color del texto de las pestañas */
}

.tab button:hover {
    background-color: #373b41; /* Color de fondo al pasar el ratón */
}

.tab button.active {
    background-color: #282a2e; /* Color de la pestaña activa */
    color: #0f0; /* Color del texto de la pestaña activa */
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #0f0;
    border-top: none;

    color: #c5c8c6; /* Color del texto del contenido */
}

.tabcontent pre, .tabcontent code {
    color: #c5c8c6;
    font-family: Consolas, "Courier New", monospace;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
