<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}/css/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
    {{#if favicon}}
        <link rel="icon" href="{{favicon}}">
    {{/if}}
    {{#each additional_styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
